{% extends 'skeleton_main.html' %}

{% block content %}
    <h1>{{ container.name }}</h1>
    {% if container.parent %}
        <p>Contained in <a href="{{ item.parent.link }}">{{ item.parent.name }}</a></p>
    {% endif %}

    {% if container.image %}
        <img src="{{ container.image.url }}">
    {% else %}
        <p>No image provided.</p>
    {% endif %}

    <table class="table">
        <tr>
            <th>Type</th>
            <td>
                {{ container.type_verbose.capitalize }}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {% if item.location %}
                    {{ item.location }}
                {% else %}
                    <span class="text-muted">No location provided.</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {% if item.description %}
                    {{ item.description }}
                {% else %}
                    <span class="text-muted">No description provided.</span>
                {% endif %}
            </td>
        </tr>
    </table>

    <h2>Contents</h2>
    {% if container.item_set.exists %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for item in container.item_set.all %}
                <tr>
                    <td><a href="{{ item.link }}">{{ item.name }}</a></td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><span class="text-muted">This container is empty.</span></p>
    {% endif %}
{% endblock %}