{% extends 'skeleton_main.html' %}

{% block content %}
    <h1>{{ item.name }}</h1>
    {% if item.parent %}
        <p>Contained in <a href="{{ item.parent.link }}">{{ item.parent.name }}</a></p>
    {% endif %}
    <table class="table">
        <tr>
            <th>Quantity</th>
            <td>{{ item.quantity }} (alert at {{ item.alert_quantity }})</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                {% for tag in item.tags.all %}
                    <a href="{{ tag.link }}" class="badge badge-pill badge-secondary">{{ tag.name }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {% if item.description %}
                    {{ item.description }}
                {% else %}
                    <span class="text-muted">No description provided.</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Source</th>
            <td>
                {% if not item.source and not item.source_url %}
                    <span class="text-muted">No source provided.</span>
                {% elif item.source and not item.source_url %}
                    {{ item.source }}
                {% elif not item.source and item.source_url %}
                    <a href="{{ item.url }}">{{ item.url|truncatechars:50 }}</a>
                {% else %}
                    <a href="{{ item.url }}">{{ item.source }}</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}